openapi: '3.0.3'
info:
  title: Habibazar API
  version: '1.0.0'
  description: |
    Enterprise consulting platform API for Habibazar.ir.
    Provides JWT auth, CMS, leads pipeline, consultations, AI assistant (SSE), and admin surface.
  contact:
    name: Hossein Habibazar
    email: hosseinhabibazar@live.com
    url: https://habibazar.ir

servers:
  - url: https://api.habibazar.ir/api/v1
    description: Production
  - url: http://localhost:4000/api/v1
    description: Development

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: NOT_FOUND
            message:
              type: string
              example: Resource not found
            details:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: string
                  message:
                    type: string

    PaginationMeta:
      type: object
      required: [total, page, limit, pages, hasNext, hasPrev]
      properties:
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer
        pages:
          type: integer
        hasNext:
          type: boolean
        hasPrev:
          type: boolean

    UserStatus:
      type: string
      enum: [ACTIVE, INACTIVE, SUSPENDED]

    ContentStatus:
      type: string
      enum: [DRAFT, PUBLISHED, ARCHIVED]

    Locale:
      type: string
      enum: [FA, EN]

    LeadSource:
      type: string
      enum: [WEBSITE, REFERRAL, SOCIAL, EMAIL, PHONE, AI_ASSISTANT, OTHER]

    LeadStatus:
      type: string
      enum: [NEW, CONTACTED, QUALIFIED, PROPOSAL, NEGOTIATION, WON, LOST, NURTURE]

    ConsultationKind:
      type: string
      enum: [INTRO_CALL, TECHNICAL, STRATEGY, AUDIT, FOLLOWUP]

    ConsultationStatus:
      type: string
      enum: [PENDING, CONFIRMED, COMPLETED, CANCELLED, NO_SHOW]

    EngagementStage:
      type: string
      enum: [DISCOVERY, PROPOSAL, NEGOTIATION, ACTIVE, COMPLETED, LOST]

    AssistantCategory:
      type: string
      enum: [INFRASTRUCTURE, CLOUD, SECURITY, NETWORKING, CONSULTING, GENERAL]

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        status:
          $ref: '#/components/schemas/UserStatus'
        twoFactorEnabled:
          type: boolean
        createdAt:
          type: string
          format: date-time
        role:
          $ref: '#/components/schemas/Role'

    Role:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        permissions:
          type: array
          items:
            type: string

    Lead:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
          nullable: true
        phone:
          type: string
          nullable: true
        company:
          type: string
          nullable: true
        source:
          $ref: '#/components/schemas/LeadSource'
        status:
          $ref: '#/components/schemas/LeadStatus'
        score:
          type: integer
          minimum: 0
          maximum: 100
        marketingConsent:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ConsultationRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
          nullable: true
        kind:
          $ref: '#/components/schemas/ConsultationKind'
        message:
          type: string
          nullable: true
        preferredDate:
          type: string
          format: date-time
          nullable: true
        status:
          $ref: '#/components/schemas/ConsultationStatus'
        createdAt:
          type: string
          format: date-time

    Service:
      type: object
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
        titleFa:
          type: string
        titleEn:
          type: string
        descriptionFa:
          type: string
        descriptionEn:
          type: string
        icon:
          type: string
          nullable: true
        status:
          $ref: '#/components/schemas/ContentStatus'
        sortOrder:
          type: integer

    Conversation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        locale:
          $ref: '#/components/schemas/Locale'
        turnCount:
          type: integer
        category:
          $ref: '#/components/schemas/AssistantCategory'
          nullable: true
        createdAt:
          type: string
          format: date-time

    Message:
      type: object
      properties:
        id:
          type: string
          format: uuid
        role:
          type: string
          enum: [USER, ASSISTANT, SYSTEM]
        content:
          type: string
        createdAt:
          type: string
          format: date-time

paths:
  # ─── Health ──────────────────────────────────────────────────────────────────
  /health:
    get:
      tags: [Health]
      summary: Liveness check
      security: []
      responses:
        '200':
          description: Service is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time

  /ready:
    get:
      tags: [Health]
      summary: Readiness check (DB connectivity)
      security: []
      responses:
        '200':
          description: Service ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  db:
                    type: string
        '503':
          description: Service not ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ─── Auth ────────────────────────────────────────────────────────────────────
  /auth/login:
    post:
      tags: [Auth]
      summary: Login with email + password (+ optional TOTP)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                totpToken:
                  type: string
                  pattern: '^\d{6}$'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                      refreshToken:
                        type: string
                      user:
                        $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                      refreshToken:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout (revoke refresh token)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '204':
          description: Logged out

  /auth/me:
    get:
      tags: [Auth]
      summary: Get current user profile
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User'

  /auth/2fa/setup:
    post:
      tags: [Auth]
      summary: Setup 2FA — returns QR URI
      responses:
        '200':
          description: 2FA setup initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      qrUri:
                        type: string
                      secret:
                        type: string

  /auth/2fa/verify:
    post:
      tags: [Auth]
      summary: Verify and enable 2FA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                  pattern: '^\d{6}$'
      responses:
        '200':
          description: 2FA enabled

  /auth/2fa:
    delete:
      tags: [Auth]
      summary: Disable 2FA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        '204':
          description: 2FA disabled

  # ─── Public ──────────────────────────────────────────────────────────────────
  /contact:
    post:
      tags: [Public]
      summary: Submit contact form (creates lead)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                phone:
                  type: string
                company:
                  type: string
                notes:
                  type: string
                marketingConsent:
                  type: boolean
                utmSource:
                  type: string
                utmMedium:
                  type: string
                utmCampaign:
                  type: string
      responses:
        '201':
          description: Lead created
        '422':
          $ref: '#/components/responses/ValidationError'

  /consultation:
    post:
      tags: [Public]
      summary: Request a consultation
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, kind]
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                phone:
                  type: string
                kind:
                  $ref: '#/components/schemas/ConsultationKind'
                message:
                  type: string
                preferredDate:
                  type: string
                  format: date-time
                marketingConsent:
                  type: boolean
      responses:
        '201':
          description: Consultation request created

  /consultation/intro-call:
    post:
      tags: [Public]
      summary: Request an intro call (shortcut for kind=INTRO_CALL)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email]
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                phone:
                  type: string
                message:
                  type: string
                marketingConsent:
                  type: boolean
      responses:
        '201':
          description: Intro call request created

  /subscribe:
    post:
      tags: [Public]
      summary: Subscribe to newsletter
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                locale:
                  $ref: '#/components/schemas/Locale'
      responses:
        '201':
          description: Subscribed

  /services:
    get:
      tags: [Public - Content]
      summary: List published services
      security: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Services list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Service'
                      meta:
                        $ref: '#/components/schemas/PaginationMeta'

  /services/{slug}:
    get:
      tags: [Public - Content]
      summary: Get a service by slug
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Service detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Service'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─── AI ──────────────────────────────────────────────────────────────────────
  /ai/conversations:
    post:
      tags: [AI Assistant]
      summary: Start an AI conversation
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sessionRef]
              properties:
                sessionRef:
                  type: string
                  description: Unique visitor session identifier
                name:
                  type: string
                company:
                  type: string
                phone:
                  type: string
                locale:
                  $ref: '#/components/schemas/Locale'
      responses:
        '201':
          description: Conversation started
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Conversation'

  /ai/conversations/{id}/messages:
    post:
      tags: [AI Assistant]
      summary: Send a message and stream response (SSE)
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                  maxLength: 4000
                locale:
                  $ref: '#/components/schemas/Locale'
      responses:
        '200':
          description: SSE stream of response chunks
          content:
            text/event-stream:
              schema:
                type: string
                description: |
                  Server-Sent Events stream. Each event is:
                  - `data: {"type":"delta","content":"text chunk"}`
                  - `data: {"type":"done"}`
                  - `data: {"type":"error","message":"error message"}`

  # ─── Admin ────────────────────────────────────────────────────────────────────
  /admin/dashboard:
    get:
      tags: [Admin - Dashboard]
      summary: Get dashboard statistics
      responses:
        '200':
          description: Dashboard stats

  /admin/leads:
    get:
      tags: [Admin - Leads]
      summary: List leads
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/LeadStatus'
        - name: source
          in: query
          schema:
            $ref: '#/components/schemas/LeadSource'
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated leads

  /admin/leads/{id}:
    get:
      tags: [Admin - Leads]
      summary: Get lead by ID with events
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Lead detail
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Admin - Leads]
      summary: Update lead (status, notes, score)
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/LeadStatus'
                notes:
                  type: string
                score:
                  type: integer
                  minimum: 0
                  maximum: 100
      responses:
        '200':
          description: Updated lead
    delete:
      tags: [Admin - Leads]
      summary: Soft-delete lead
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Deleted

  /admin/leads/{id}/events:
    post:
      tags: [Admin - Leads]
      summary: Add event to lead
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event]
              properties:
                event:
                  type: string
                metadata:
                  type: object
      responses:
        '201':
          description: Event created

  /admin/consultations:
    get:
      tags: [Admin - Consultations]
      summary: List consultation requests
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/ConsultationStatus'
        - name: kind
          in: query
          schema:
            $ref: '#/components/schemas/ConsultationKind'
      responses:
        '200':
          description: Paginated consultations

  /admin/engagements:
    get:
      tags: [Admin - Engagements]
      summary: List engagements
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: stage
          in: query
          schema:
            $ref: '#/components/schemas/EngagementStage'
      responses:
        '200':
          description: Paginated engagements
    post:
      tags: [Admin - Engagements]
      summary: Create engagement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [leadId, stage]
              properties:
                leadId:
                  type: string
                  format: uuid
                stage:
                  $ref: '#/components/schemas/EngagementStage'
                notes:
                  type: string
                value:
                  type: number
      responses:
        '201':
          description: Engagement created

  /admin/users:
    get:
      tags: [Admin - Users]
      summary: List users
      responses:
        '200':
          description: Users list
    post:
      tags: [Admin - Users]
      summary: Create user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, name, roleId]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                name:
                  type: string
                roleId:
                  type: string
                  format: uuid
      responses:
        '201':
          description: User created

  /admin/roles:
    get:
      tags: [Admin - Roles]
      summary: List roles with user counts
      responses:
        '200':
          description: Roles list
    post:
      tags: [Admin - Roles]
      summary: Create role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, permissions]
              properties:
                name:
                  type: string
                permissions:
                  type: array
                  items:
                    type: string
                  minItems: 1
      responses:
        '201':
          description: Role created

  /admin/settings:
    get:
      tags: [Admin - Settings]
      summary: List all settings
      responses:
        '200':
          description: Settings list

  /admin/settings/{key}:
    put:
      tags: [Admin - Settings]
      summary: Upsert a setting by key
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [value]
              properties:
                value:
                  type: string
      responses:
        '200':
          description: Setting updated

  /admin/audit:
    get:
      tags: [Admin - Audit]
      summary: List audit logs
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: resource
          in: query
          schema:
            type: string
        - name: action
          in: query
          schema:
            type: string
        - name: userId
          in: query
          schema:
            type: string
            format: uuid
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date-time
        - name: dateTo
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Audit logs

  /admin/ai/conversations:
    get:
      tags: [Admin - AI]
      summary: List AI conversations
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: category
          in: query
          schema:
            $ref: '#/components/schemas/AssistantCategory'
        - name: locale
          in: query
          schema:
            $ref: '#/components/schemas/Locale'
      responses:
        '200':
          description: Conversations list

  /admin/ai/analytics:
    get:
      tags: [Admin - AI]
      summary: AI analytics (counts by category, locale, daily)
      responses:
        '200':
          description: Analytics data

  components:
    responses:
      Unauthorized:
        description: Unauthorized
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Error'
      Forbidden:
        description: Forbidden
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Error'
      NotFound:
        description: Not found
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Error'
      ValidationError:
        description: Validation error
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Error'
      TooManyRequests:
        description: Rate limit exceeded
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Error'

    parameters:
      Page:
        name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      Limit:
        name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      Id:
        name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
